@page "/raiderdashboard"

@using RaidCoordinator
@using Discord;
@using Microsoft.Extensions.DependencyInjection;

@inject RaidCoordinatorService RaidService
@inject DiscordService DiscordServiceReference
@inject IServiceProvider ServiceProvider

<h1>Raid Dashboard</h1>
<hr />
@if (this.RaidManager.Raiders == null || !DiscordServiceReference.IsReady)
{
    <p><em>Loading...</em></p>
}
else
{
    if (!RaidManager.IsValidated)
    {
        <div>Please validate your channel before continuing..</div>
        <br />

        <div class="container">
            <div class="row">
                <div class="col-4">
                    <input type="text" class="form-control" id="channelId" aria-describedby="channelHelp" placeholder="Enter ChannelId" @onchange="@((ChangeEventArgs __e) => UpdateChannelId(__e.Value.ToString()))">
                    <small id="channelHelp" class="form-text text-muted">Right click on the channel you want the bot to post to (Developer mode needs to be active).</small>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control" id="token" aria-describedby="tokenHelp" placeholder="Enter Token" @onchange="@((ChangeEventArgs __e) => UpdateToken(__e.Value.ToString()))">
                    <small id="tokenHelp" class="form-text text-muted">Send your channel id to the bot in Discord to retrieve your token.</small>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-success" @onclick="ValidateChannelAndToken">Validate Channel and Token</button>
                </div>
            </div>
        </div>

    }
    else
    {
        <label>Raid Coordinating for @RaidManager.DiscordChannel.Name</label>
        <hr />

        <div class="container">
            <label>Send Messages</label>
            <div class="row">
                <div class="col-3">
                    <button type="button" class="btn btn-primary" @onclick="SendRaidRequestMessage">Send Raid Request</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-primary" @onclick="SendBoostRequestMessage">Send Boost Request</button>
                </div>
            </div>
            <hr />
            <label>Raid Controls</label>
            <div class="row">
                <div class="col-3">
                    <button type="button" class="btn btn-info" @onclick="ResetRaiders">Reset Raider Queue</button>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-danger" @onclick="@(() => this.RaidManager.FinishRaiding())">Finish Raid</button>
                </div>
            </div>
            <br />
        </div>

        <br />

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">Send Spawn Message</th>
                    <th scope="col">Joined</th>
                    <th scope="col">Killed</th>
                    <th scope="col">Remove User</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var raider in this.RaidManager.Raiders)
                {
                    <tr>
                        <td>@raider.Username</td>

                        @if (@raider.IsAvailable)
                        {
                            <td><button type="button" class="btn btn-outline-primary" @onclick="@(() => SendSpawnRequestMessage(@raider.Username))">Spawn Request</button></td>
                            if (@raider.HasSpawnedBoss)
                            {
                                <td><button type="button" class="btn btn-outline-primary" @onclick="SendJoinRequestMessage">Joined Raid Boss</button></td>
                                <td><button type="button" class="btn btn-outline-primary" @onclick="@(() => SendKilledRequestMessage(@raider))">Raid Boss Killed</button></td>
                            }
                            else
                            {
                                <td></td>
                                <td></td>
                            }
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                        }
                        <td><button type="button" class="btn btn-outline-danger" @onclick="@(() => RemoveUserFromRaiders(@raider.Username))">Remove From Queue</button></td>
                    </tr>
                }
            </tbody>
            <tbody>
                <tr>
                    <td>
                        <input type="text" class="form-control" id="token" aria-describedby="tokenHelp" placeholder="Enter Username" @onchange="@((ChangeEventArgs __e) => this.username = __e.Value.ToString())">
                    </td>
                    <td>
                        <button type="button" class="btn btn-success" @onclick="(() => AddUserToRaiders(this.username))">Add User To Raider Queue</button>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    }
}

@code {

    [CascadingParameter(Name = "RaidManagerParent")]
    public RaidManager RaidManager { get; set; }

    [CascadingParameter(Name = "DiscordServiceIsReady")]
    public bool IsReady { get; set; }

    private string username;

    protected override async Task OnInitializedAsync()
    {
        this.RaidManager.OnRaidersChanged += this.RaidersChanged;
        this.RaidManager.OnBoostersAdded += this.BoostersAdded;
    }

    // The event handler, will update the HTML view according to new stock value
    private async void RaidersChanged(object sender, RaidersChangeEventArgs args)
    {
        // If null, we have removed all the reactions, thus remove everyone from the list
        if (args == null)
        {
            this.RaidManager.Raiders.Clear();
        }
        else
        {
            var recordToupdate = this.RaidManager.Raiders.FirstOrDefault(x => x.Username == args.Value.Username);

            // If not in the list, add to the list, otherwise remove the person from the list
            if (recordToupdate == null)
            {
                this.RaidManager.Raiders.Add(args.Value);
            }
            else
            {
                this.RaidManager.Raiders.Remove(recordToupdate);
            }
        }

        await InvokeAsync(() =>
        {
            base.StateHasChanged();
        });
    }

    private async void BoostersAdded(object sender, BoostersAddedEventArgs args)
    {
        if (args != null && this.RaidManager.Boosters.FirstOrDefault(x => x == args.Value.Name) == null)
        {
            this.RaidManager.Boosters.Add(args.Value.Name);

            await InvokeAsync(() =>
            {
                base.StateHasChanged();
            });
        }
    }

    public async void UpdateChannelId(string id)
    {
        this.RaidManager.Channel.Id = ulong.Parse(id);
    }

    public async void UpdateToken(string id)
    {
        this.RaidManager.Channel.Token = int.Parse(id);
    }

    public async void ValidateChannelAndToken()
    {
        ChannelToken channelTokenObject = null;
        using (var context = ServiceProvider.GetRequiredService<RaidContext>())
        {
            foreach (var channelToken in context.ChannelTokens)
            {
                if (BitConverter.ToUInt64(channelToken.ChannelId) == this.RaidManager.Channel.Id && channelToken.Token == this.RaidManager.Channel.Token)
                {
                    channelTokenObject = channelToken;
                    break;
                }
            }
        }

        IMessageChannel channel = null;
        if (channelTokenObject != null)
            channel = DiscordServiceReference.client.GetChannel(this.RaidManager.Channel.Id) as IMessageChannel;


        if (await this.RaidManager.ValidateRaidServiceAndChannel(channel))
        {
            if (!RaidService.ChannelManagerPair.ContainsKey(this.RaidManager.Channel.Id))
                RaidService.ChannelManagerPair.Add(this.RaidManager.Channel.Id, null);

            RaidService.ChannelManagerPair[this.RaidManager.Channel.Id] = this.RaidManager;
        }

        await InvokeAsync(() =>
        {
            base.StateHasChanged();
        });
    }

    public async void AddUserToRaiders(string username)
    {
        this.RaidManager.Raiders.Add(new Raider { Username = username, IsAvailable = true });

        await InvokeAsync(() =>
        {
            base.StateHasChanged();
        });
    }

    public async void RemoveUserFromRaiders(string username)
    {
        var raider = this.RaidManager.Raiders.FirstOrDefault(x => x.Username == username);

        this.RaidManager.Raiders.Remove(raider);

        await InvokeAsync(() =>
        {
            base.StateHasChanged();
        });
    }

    public async void ResetRaiders()
    {
        this.RaidManager.Raiders = await RaidManager.ResetRaiders(this.RaidManager.Raiders);

        await InvokeAsync(() =>
        {
            base.StateHasChanged();
        });
    }

    public async void FinishRaid()
    {
        RaidService.ChannelManagerPair.Remove(this.RaidManager.Channel.Id);

        await RaidManager.FinishRaiding();

        await InvokeAsync(() =>
        {
            base.StateHasChanged();
        });
    }

    public async Task SendRaidRequestMessage()
    {
        await RaidManager.SendRaidRequestMessage();
    }

    public async Task SendBoostRequestMessage()
    {
        await RaidManager.SendBoostRequestMessage();
    }

    public async Task SendSpawnRequestMessage(string user)
    {
        await RaidManager.SendSpawnRequestMessage(user);

        await InvokeAsync(() =>
        {
            base.StateHasChanged();
        });
    }

    public async Task SendJoinRequestMessage()
    {
        await RaidManager.SendJoinRequestMessage();
    }

    public async Task SendKilledRequestMessage(Raider user)
    {
        this.RaidManager.Raiders = await RaidManager.SendKilledRequestMessage(user, this.RaidManager.Raiders);

        await InvokeAsync(() =>
        {
            base.StateHasChanged();
        });
    }

    public void Dispose()
    {
        this.RaidManager.OnRaidersChanged -= this.RaidersChanged;
        this.RaidManager.OnBoostersAdded -= this.BoostersAdded;
    }
}
